            <section class="about">
                <div class="l-inner">
                    <div class="l-vertical-rectangles">
                        <div class="c-vertical-rectangle"></div>
                        <div class="c-vertical-rectangle"></div>
                    </div>
                    <div class="horizontal-rectangles">
                    <div class="c-border-rectangle"></div>
                    <div class="c-box-title-desc">
                        <h2 class="box-title"><span class="wild">Welcome to</span>STEAKVILLE</h2>
                        <p class="desc">I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.I am text block. I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            </p>
                    </div>
                </div>
            </div>
        </section>