        <section class="about-two">
            <div class="hero">
                <div class="l-box-section-of">
                        <div class="c-box-section-of">
                            <h2 class="c-box-section-of__title"><span class="wild">Discover</span>OUR HISTORY</h2>
                            <figure><img src="" alt=""></figure>
                            <p class="c-box-section-of__desc">I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.I am text block. I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                </p>
                            <a href="" class="c-box-section-of__button">ABOUT US</a>
                        </div>
                    </div>
                </div>
                <div class="quote">
                    <h2>“Ask not what you can do for your country. Ask what’s for lunch
                        <span class="wild">Orson Welles</span>
                    </h2>
                </div>
        </section>