<section>
    <div class="l-hero"></div>
        <div class="l-inner">
            <div class="title-list">
                <h2><span class="wild">Reservation</span><br>
                BOOK A TABLE</h2>
                <span class="arrow-icon"></span>
                <div class="inputs">
                    <ul>
                        <li>
                            <div>
                                <div><input type="text" name="" id=""></div>
                                <div><span></span></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div><input type="text" name="" id=""></div>
                                <div><span></span></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div><input type="text" name="" id=""></div>
                                <div><span></span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="" class="btn-gold" >BOOK A TABLE</a>
            </div>
        </div>
    </div>
</section>
