/* ==========================================================================
   Webfonts
   ========================================================================== */
// @include font-face(fontawesome, ../../fonts/fontawesome);

/* Fonts
========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300i,400i,600i,700i,800i,300,400,600,700,800&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:300,400,600,700,800&subset=latin,latin-ext);



@font-face {
    font-family: 'Wild Youth';
    font-weight: 400;
    src: url("../../fonts/WildYouth-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Average';
    font-weight: 400;
    src: url("../../fonts/Average-Regular.ttf") format("truetype");
}



$font_normal: 'Open Sans', Arial, sans-serif;
$font_normal-2: 'Kaushan Script', Arial, sans-serif;
$font-wild: 'Wild Youth';

